@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}

strong {
    color: #22D4FD;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
}

.apresentacao__conteudo__titulo {
    font-family: 'Krona One', sans-serif;
    font-size: 36px;

}

.apresentacao__conteudo__texto {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 5% 0;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links__botao {
    background-color: #22D4FD;
    text-decoration: none;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    font-size: 24px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}